.footer {
  padding-top: 60px;
  padding-bottom: 50px;
  color: var(--white);
  text-transform: uppercase;
  position: relative;
  @media screen and (max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 22px;
  }
}

.footer__top {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px) {
    margin-bottom: 40px;
    flex-direction: column;
    align-items: start;
  }
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__title {
  font-size: 42px;
  line-height: 105%;
  @media screen and (max-width: 768px) {
    margin-bottom: 40px;
    font-size: 32px;
  }
}

.footer__navigation {
  display: flex;
  gap: 83px;
  font-size: 20px;
  line-height: 105%;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
  }

  a {
    transition: filter 250ms ease;
    &:hover {
      filter: brightness(0.7);
    }
  }
}

.footer__socials {
  display: flex;
  gap: 15px;
  @media screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: end;
    position: absolute;
    top: 33px;
    right: 20px;
  }
  a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--green);
    transition: filter 250ms ease;

    &:first-of-type {
      width: 120px;
      padding: 6px 13px;
      border-radius: 20px;
      @media screen and (max-width: 768px) {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
      }
    }
    &:nth-child(2) {
      @media screen and (max-width: 768px) {
        grid-column: 2 / 3;
      }
    }
    &:nth-child(3) {
      @media screen and (max-width: 768px) {
        grid-column: 3 / 4;
      }
    }

    svg {
      transition: all 250ms ease;
    }
    &:hover {
      filter: brightness(0.8);

      svg {
        scale: 1.1;
      }
    }
  }
}
