.roadmap {
  min-height: 960px;
  padding-top: 150px;
  padding-bottom: 170px;
  padding-left: 316px;
  color: var(--white);
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 1280px) {
    padding-left: 20px;
  }
  @media screen and (max-width: 768px) {
    min-height: 594px;
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .application {
    min-width: 515px;
    min-height: 527px;
    padding: 37px 40px;
    border-radius: 30px;
    background-color: #111;
    background-image: url("../../public/img/roadmap/application_bg.png");
    background-repeat: no-repeat;
    background-position: left bottom;

    @media screen and (max-width: 768px) {
      min-width: 325px;
      min-height: 421px;
      padding: 25px 30px;
      background-image: url("../../public/img/roadmap/application_bg_mobile.png");
    }

    .application__title {
      margin-bottom: 213px;
      font-size: 42px;
      line-height: 105%;
      @media screen and (max-width: 768px) {
        margin-bottom: 35px;
        font-size: 32px;
      }
    }

    .application__feauteres {
      width: fit-content;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      gap: 26px;
      @media screen and (max-width: 768px) {
        margin: 30px;
      }

      li {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 0;
        ::before {
          content: url("../../public/img/roadmap/mark.png");
          position: absolute;
          top: -5px;
          left: -33px;
          z-index: -1;
        }
      }
    }
  }
}

.application:nth-child(2) {
  li:nth-child(3),
  li:nth-child(4) {
    ::before {
      content: url("../../public/img/roadmap/mark_disabled.png");
    }
  }
}
.application:nth-child(3) {
  li:nth-child(1n) {
    ::before {
      content: url("../../public/img/roadmap/mark_disabled.png");
    }
  }
}

.roadmap__title {
  width: 100%;
  font-size: 60px;
  line-height: 105%;
  @media screen and (max-width: 768px) {
    font-size: 34px;
  }
}

.roadmap__swiper {
  margin-top: 50px;
  // position: absolute;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    margin-top: 27px;
  }
}

.swiper-wrapper {
  display: flex;
}

.swiper-navigation {
  display: flex;
  gap: 18px;
  position: absolute;
  top: 154px;
  right: 316px;
  @media screen and (max-width: 768px) {
    top: 48px;
    right: 20px;
  }
}

.swiper-navigation-next,
.swiper-navigation-prev {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  background-color: #474747;
}

.swiper-navigation-next {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -75% -50%;
    width: 15px;
    height: 15px;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    rotate: 225deg;
  }
}
.swiper-navigation-prev {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -25% -50%;
    width: 15px;
    height: 15px;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    rotate: 45deg;
  }
}
