.tokenomics {
  width: 100%;
  min-height: 818px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(180deg, rgb(49, 137, 17), rgb(20, 63, 4) 86.5%);
  position: relative;
  color: var(--white);
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    padding-top: 20px;
    padding-bottom: 0;
  }

  &::before {
    content: url("../public/img/tokenomics/stroke.png");
    position: absolute;
    top: -100px;
    right: 0;
    mix-blend-mode: overlay;
    @media screen and (max-width: 768px) {
      content: url("../public/img/tokenomics/stroke_mobile.png");
      top: auto;
      bottom: -12px;
    }
  }

  &::after {
    content: url("../public/img/tokenomics/tokenomics_img.png");
    position: absolute;
    top: -34px;
    right: 0;
    @media screen and (max-width: 768px) {
      content: url("../public/img/tokenomics/tokenomics_img_mobile.png");
      top: auto;
      bottom: -13px;
    }
  }
}

.tokenomics__title {
  font-size: 60px;
  line-height: 105%;
  @media screen and (max-width: 768px) {
    font-size: 34px;
  }
}

.tokenomics__subtitle {
  font-size: 24px;
  line-height: 105%;
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.tokenomics__statistics {
  max-width: 300px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  font-size: 26px;
  line-height: 105%;
  position: relative;
  z-index: 2;
  @media screen and (max-width: 768px) {
    margin-top: 38px;
  }

  div {
    display: flex;
    justify-content: space-between;
  }
}

.tokenomics__total {
  margin-top: 90px;
  position: relative;
  @media screen and (max-width: 768px) {
    z-index: 2;
    margin-top: 41px;
  }

  &::before {
    content: url("../public/img/tokenomics/tokenomics_total_bg.png");
    position: absolute;
    bottom: -21px;
    left: -16px;
    mix-blend-mode: soft-light;
    @media screen and (max-width: 768px) {
      opacity: 0.5;
    }
  }

  &::after {
    content: url("../public/img/tokenomics/mark.png");
    position: absolute;
    top: 22px;
    left: 254px;
    mix-blend-mode: screen;
  }

  span {
    display: block;
    font-size: 44px;
    line-height: 105%;
    color: #fff;
    position: relative;
    @media screen and (max-width: 768px) {
      font-size: 42px;
    }

    &:first-of-type {
      font-size: 36px;
      color: rgba(255, 255, 255, 0.6);
      @media screen and (max-width: 768px) {
        font-size: 26px;
      }
    }
  }
}

.tokenomics__code {
  margin-top: 119px;
  display: flex;
  align-items: center;
  gap: 58px;
  @media screen and (max-width: 768px) {
    display: none;
  }

  line-height: 105%;

  #key {
    font-size: 26px;
    letter-spacing: 3%;
    position: relative;
    user-select: all;
    @media screen and (max-width: 1440px) {
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      translate: 0 -45%;
      min-width: 525px;
      height: 87px;
      background-image: url("../public/img/tokenomics/tokenomics_key_bg.png");
      background-size: cover;
      background-position: center center;
      mix-blend-mode: soft-light;
      @media screen and (max-width: 1440px) {
        display: none;
      }
    }
  }

  button {
    font-size: 22px;
    text-transform: uppercase;
    position: relative;
    transition: color 200ms ease;
    @media screen and (max-width: 1440px) {
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      translate: -35% -25%;
      min-width: 116px;
      height: 76px;
      background-image: url("../public/img/tokenomics/tokenomics_btn_border.png");
      background-size: cover;
      background-position: center center;
      mix-blend-mode: overlay;
      filter: brightness(2);
      @media screen and (max-width: 1440px) {
        display: none;
      }
    }

    &:active {
      color: rgba(255, 255, 255, 0.6);
      &::before {
        filter: brightness(1.5);
      }
    }
  }
}

.tokenomics__tooltip {
  width: 150px;
  opacity: 0;
  padding: 8px 6px;
  position: absolute;
  top: 50%;
  right: 0;
  translate: 130% -50%;
  z-index: 3;
  text-transform: none;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms ease;
}

.tokenomics__tooltip.visible {
  opacity: 1;
}
