@import url("https://fonts.googleapis.com/css2?family=Jockey+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --font-family: "Jockey One", sans-serif;
  --second-family: "Inter", sans-serif;
  --white: #fff;
  --black: #000;
  --green: #318911;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--black);
}

.container {
  width: min(100%, 1280px);
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1280px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.hidden {
  display: none !important;
}
